
// Created on : 30 mai 2015, 21:38:27
// Author     : Steeve Lefebvre <webstartup.sl at gmail.com>

// -----------------------------------------------------------------------------
// Vars
// -----------------------------------------------------------------------------

$full_pfx      : webkit moz khtml o ms !default;
$bg_color           : rgb(101, 92, 137);
$lato_font          : "Lato";
$warpper_width      : 960px;
$tabs_width         : 500px;
$tabs_li_a_color    : #8478B3;
$tabs_li_bg         : #544f6b;
$tabs_li_bg_hover   : rgb(78, 74, 99);
$tabs_active_bg     : white !important;
$tabs_active_color  : #655c89 !important;